---
title: The NEMO project
description: A project for ...blablabla
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>WHAT</strong></h1>
		<p class="subtext editable">Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. Here we describe the NEMO project. </p>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<p> </p>
		</div>
	</section>
</div>


<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>WHY</strong></h1>
		<p class="subtext editable">Here we describe the benefits of using the NEMOhrtf. Here we describe the benefits of using the NEMOhrtf. Here we describe the benefits of using the NEMOhrtf. Here we describe the benefits of using the NEMOhrtf. Here we describe the benefits of using the NEMOhrtf. </p>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<p> </p>
			</div>
	</section>
</div>

<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>HOW</strong></h1>
		<p class="subtext editable">If you are a user that is looking for a dataset to use, go to Donwloads and start using it! If you are a developer... If you are a researcher...</p>
	</div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
