---
title: The NEMO project
description: Towards an alternative to individualization for spatial audio.
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong> </strong></h1>
		<p class="subtext_justified editable">Listener-specific head-related transfer functions (HRTFs) improve the perceived quality of virtual sound compared to using non-individualized HRTFs, but using them is not always feasible. The NEMO project proposes an alternative that could lead to a similar immersive experience. This alternative relies on the adaptation abilities of listeners on using a new set of HRTFs as if it was their own through consistent use of it. The NEMO project proposes to work as a community towards a default HRTF dataset, which could be used across applications to improve the spatial audio perception and to ease the incorporation of spatial audio to all kinds of applications.</p>
		<h1 class="editable"><strong> </strong></h1>
		<p class="subtext_justified editable">The NEMO HRTF selection needs to be agreed among researchers, companies, developers and users. This can only be achieved with feedback from interested parties. We have started now collecting requirements that such an HRTF should fulfill. We encourage everyone interested to contribute with their ideas. We will collect them to propose NEMO HRTF so that fulfills as many of them as possible. </p>
	</div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
