---
title: Contribute
description: >-
  This project is meant to be collaborative. Your contribution may be helpful for others.
---

<section>
	<div class="container flex">
		<div class="text editable">
			<h2>Did you compute a new version of NEMO and want to <strong>share</strong> it?</h2>
			<p>We appreciate if you can upload your new files together with the code that you use to compute it. This way, we can ease the work for next users and trust your version. Go to the project folder and add your files.</p>
			<div class="cta button"><a href="https://github.com/TheNEMOproject/NEMOhrtf">Contribute</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/NEMO_head4.png"/>
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2>If you don't know how to adapt NEMO to your <strong>specifications</strong>...</h2>
			<p>... maybe someone else could help you. Detail your specifications as an issue and ask for help.</p>
			<div class="cta button"><a href="https://github.com/TheNEMOproject/NEMOhrtf/issues">Ask for help</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/NEMO_ear4_format.png"/>
		</div>
	</div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
