---
title: Downloads
description: >-
  Download your preferred version and get used to it.
---

<section>
	<div class="container flex">
		<div class="text editable">
			<h2>NEMObeta <strong>basic</strong></h2>
			<p>All you need as a final user for most applications.</p>
			<p>The basic sofa file contains XXX evaluation points, it is free-field equalized and compensated with the common transfer function to reduce colouration. The length of the HRIR filters is 512 samples.</p>
			<div class="cta button"><a href="{{ site.baseurl }}/contact/">Download basic SOFA file</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Find your</strong> NEMObeta</h2>
			<p>Find the HRTF that satisfies your needs.</p>
			<p>Choose your number of evaluation points, the length of the HRIR filters and more.</p>
			<div class="cta button"><a href="https://github.com/TheNEMOproject/NEMOhrtf">Find a file that satisfies your needs.</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Special needs </strong>NEMObeta</h2>
			<p>If you have special needs, it is time for a new contribution.</p>
			<p>Visit the contributions site. If you can't provide the new data, you can still provide the idea and maybe someone else will do it for you.</p>
			<div class="cta button"><a href="{{ site.baseurl }}/contribute/">Contribute.</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
