---
title: Requirements
description: This is the list of requirements for the NEMO hrtf dataset that we have identified internally.
---
<section class="herot">
	<div class="text-container">
		<h1 class="editable">Usability</h1>
		<p class="subtext_left editable"><strong>Permissevely licensed:</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;Attribution 4.0 International (CC BY 4.0).</p>
                <p class="subtext_left editable"><strong>In various formats:</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;SOFA, .mat, binary blob, .wav, etc.</p>
                <p class="subtext_left editable"><strong>In a centralised repository</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;<a href="https://github.com/TheNEMOproject/NEMOhrtf">Github</a>.</p>
 
		<h1 class="editable">Flexibility</h1>
		<p class="subtext_left editable"><strong>Model-based</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;to guarantee extensibility, e.g. adding head-above-torso rotations.</p>
		<p class="subtext_left editable"><strong>Tunable</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;e.g. adding a torso.</p>
		
		<h1 class="editable">Adaptability</h1>
		<p class="subtext_left editable"><strong>To guarantee post-adapatation good localization performance.</strong></p>
		<p class="subtext_left editable">&emsp;&emsp;i.e., the possibility of discriminating among directions should be maximal</p>
		
		<h1 class="editable">What are we missing?</h1>
		<p class="subtext_left editable">Help us complete the list of requirements to ease the use of the NEMO hrtf to all kinds of applications.</p>
		<div class="cta button"><a href="{{ site.baseurl }}/contact/">Send feedback.</a></div>

  </div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
