---
title: Research
description: >-
  Collection of research outputs.
---

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><Toward a Standard Listener-Independent HRTF to Facilitate Long-Term Adaptation</h2>
			<!-- <p>2024, JAES</p> -->
			<p>Lladó, Pollack & Meyer-Kahlen</p>
			<p>This is only a placeholder for how the repository looks like. That is the meaning of the "beta" in this case.</p>
			<!-- <p>Listener-specific HRTFs, which aim at mimicking the filtering of the head, torso and pinnae of a specific listener, improve the perceived quality of virtual sound compared to using non-individualized HRTFs. However, using listener-specific HRTFs may not be accessible for everyone. Here, we propose as an alternative to take advantage of the adaptation abilities of human listeners to a new set of HRTFs.</p> -->
			<div class="cta button"><a href="https://doi.org/10.17743/jaes.2022.0134">Article</a></div>
		</div>
		<div class="image">
			<!-- <img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" /> -->
			<img src="{{ site.baseurl }}/images/NEMO_head1_format.png"/>
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Find your version</strong></h2>
			<p>Do you need a specific evaluation grid? A specific file extension? We are collecting several versions of the same HRTF. All the versions should have equivalent spatial information, but maybe your application has some rigid specifications.</p>
			<div class="cta button"><a href="https://github.com/TheNEMOproject/NEMOhrtf">Find your version</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/NEMO_ear2_format.png"/>
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Tune it </strong></h2>
			<p>If you haven't found the HRTF version you were looking for, it is time for a new contribution.</p>
			<p>Visit the contributions site. If you can't provide the new tuned version, you can still share your requirements and maybe someone else will do it for you.</p>
			<div class="cta button"><a href="{{ site.baseurl }}/contribute/">Contribute</a></div>
		</div>
		<div class="image">
			<img src="{{ site.baseurl }}/images/NEMO_head0_format.png"/>
		</div>
	</div>
</section>

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
