---
title: Research
description: >-
  Collection of research outputs.
---
<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Toward a Standard Listener-Independent HRTF to Facilitate Long-Term Adaptation</strong></h2>
			<p><center>Lladó, Pollack & Meyer-Kahlen (JAES, 2024)</center></p>
			<p>Listener-specific HRTFs, which aim at mimicking the filtering of the head, torso and pinnae of a specific listener, improve the perceived quality of virtual sound compared to using non-individualized HRTFs. However, using listener-specific HRTFs may not be accessible for everyone. Here, we propose as an alternative to take advantage of the adaptation abilities of human listeners to a new set of HRTFs.</p>
			<div class="cta button"><a href="https://doi.org/10.17743/jaes.2022.0134">Journal Article</a></div>
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Comparing Measures of Information in Head-Related Transfer-Functions</strong></h2>
			<p><center>Meyer-Kahlen, Pollack & Lladó (Forum Acusticum, 2025)</center></p>
			<p>We hypothesize that the available information in the set influences adaptation speed and/or post-adaptation localization performance and, therefore, is a potential factor in the selection. To test this hypothesis, it is essential to develop measures that quantify the information of an HRTF set. To this end, this contribution presents several potential measures of information content and compares them using multiple HRTF sets.</p>
			<div class="cta button"><a href="https://dael.euracoustics.org/confs/fa2025/data/articles/000228.pdf">Conference Paper</a></div>
		</div>
	</div>
</section>

<section>
	<div class="container flex">
		<div class="text editable">
			<h2><strong>Survey of HRTF Dataset Use in Academia and Industry</strong></h2>
			<p><center>Pollack, Brinkmann, Lladó & Meyer-Kahlen (AVARIG, 2026)</center></p>
			<p>We conducted a survey on HRTF usage among 76 professionals working in the field of spatial audio. The findings suggest that there is currently no de facto standard HRTF. Surprisingly, only half of those with access to individual HRTFs are actually using them, and most would be willing to switch to a default HRTF set if one was established.</p>
			<div class="cta button"><a href="https://doi.org/10.17743/jaes.2022.0134">Results of the Survey</a></div>
			<div class="cta button"><a href="https://doi.org/10.17743/jaes.2022.0134">Conference Paper</a></div>
		</div>
	</div>
</section>


<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
-->
